= render "items/header"
.header-under
  .box-under
    .categoty-link
      = link_to "カテゴリ" ,"#", class:"link-btn",id: "hover-a"
      -# = render "products/category_list" #まだカテゴリーは未作成
    .bland-link
      = link_to "ブランド" ,"#", class:"link-btn",id: "hover-b"
    .gretel-link
      -# - breadcrumb :edit_mail
      -# = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"
  -# = render "products/under"
.wrraper
  .mypage
    = render 'users/side-bar'
    .edit-email
      .edit-email-group
        .edit-email-title
          メール/パスワード
        .edit-email-form
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: :edit_form } ) do |f|
            .email
              = f.label :email, "メールアドレス"
              .email-group
                = f.text_field :email,placeholder: "PC・携帯どちらでも可",class: "email-field",id: "email"
              .email-content
                メールアドレスを変更すると確認メールが送信されます。
                メール内のURLをクリックすると変更完了です。
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .current-pass
              = f.label :current_password, "現在のパスワード"
              %br/
              .current-pass-group
                = f.password_field :current_password, autocomplete: "current_password",class: "current-pass-field",id: "now-pass"
            .new-pass
              = f.label :password, "新しいのパスワード"
              %br/
              .new-pass-group
                = f.password_field :password, autocomplete: "password",placeholder: "7文字以上の半角英数字",class: "new-pass-field",id: "pass"
            .new-pass-two
              = f.label :password_confirmation, "新しいのパスワード確認"
              %br/
              .pass-tow-group
                = f.password_field :password_confirmation, autocomplete: "password_confirmation",placeholder: "新しいパスワード再入力",class: "new-pass-two-field",id: "pass-two"
            .send
              = f.submit "変更する",class: "send-btn"
= render 'items/footer'