= render "items/main-header"
.header-under
  .box-under
    .gretel-link
      - breadcrumb :profile
      = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"
.wrraper
  .mypage
    = render 'users/side-bar'
    .user-change
      = form_for @profile, url: update_profile_path do |f|
        .user-change--header
          .change-title
            プロフィール
          .change-group
            .change-name
              = f.text_field :nickname, placeholder: "例) フリマ太郎",class: "nickname-field"
        .user-change-introduction
          .introduction
            = f.text_area :self_introduce,placeholder: "",class: "introduction--text"
          .passward
            .passward-group
              .title-pass
                %label "変更確認のためパスワードを入力してください"
              .field
                = f.password_field :password,placeholder: "7文字以上の半角英数字",class: "passward-field",id: "pass",autocomplete: 'off'
          .passward-two
            .passward-tow-group
              = f.password_field :password_confirmation, autocomplete: "password_confirmation",placeholder: "パスワード再入力",class: "passward-two-field",id: "pass-two"
          .error
            = render "devise/shared/error_messages", resource: @profile
          .change-btn
            = f.submit '変更する',class: "send-btn"
= render 'items/main-footer'
