.single-container 
  %header.signup-header
    %h1
      = link_to root_path do
        = image_tag asset_path('material/logo/logo.png')
  %main.signup-main
    .signup-main__login-panel
    = form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .signup-main__form-group
        = f.label :メールアドレス
        = f.email_field :email, { class: 'signup-main__input-default', placeholder: 'PC・携帯どちらでも可' }
      -# - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .signup-main__login-form-inner
        .signup-main__form-group
          = f.label :パスワード
          %i (leave blank if you don't want to change it)
          = f.password_field :password, autocomplete: "new-password"
          -# - if @minimum_password_length
            %em
              = @minimum_password_length
              characters minimum
        .signup-main__form-group
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .signup-main__form-group
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password, autocomplete: "current-password"
        .actions
          = f.submit "Update"
      %h3 Cancel my account
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
