.single-container
  = render 'header-address'
  %main.signup-main
    %section.signup-main__container
      %h2.signup-main__head.signup-main__head--registration
        お届け先住所入力
      =form_for(@address, url: addresses_path, class: 'signup-main__inner signup-main__inner--registration-form') do |f|
        .signup-main__content
          .signup-main__form-group
            = f.label :郵便番号
            %span.signup-main__form-require 必須
            - if @user .errors.full_messages_for(:postal_code).any?
              = f.text_field :postal_code, { class: 'signup-main__input-default signup-main__input-default--has-error', placeholder: '例) 123-4567', maxlength: '8', pattern: '\d{3}-\d{4}', value: '' }
            -else
              = f.text_field :postal_code, { class: 'signup-main__input-default', placeholder: '例) 123-4567', maxlength: '8', pattern: '\d{3}-\d{4}', value: '' }
              
          .signup-main__form-group
            = f.label :都道府県
            %span.signup-main__form-require 必須
            - if @user .errors.full_messages_for(:prefecture_code).any?
              = f.select :prefecture_code, Address.prefectures.keys, {}, {class: 'signup-main__input-default--has-error'}
            - else
              = f.select :prefecture_code, Address.prefectures.keys, {}, class: 'signup-main__input-default'
            
          .signup-main__form-group
            = f.label :市区町村
            %span.signup-main__form-require 必須
            - if @user .errors.full_messages_for(:city_name).any?
              = f.text_field :city_name, { class: 'signup-main__input-default signup-main__input-default--has-error', placeholder: '例) 名古屋市緑区', value: '' }
            - else
              = f.text_field :city_name,  { class: 'signup-main__input-default', placeholder: '例) 名古屋市緑区', value: '' }
           
          .signup-main__form-group
            = f.label :番地
            %span.signup-main__form-require 必須
            - if @user .errors.full_messages_for(:city_name).any?
              = f.text_field :street, { class: 'signup-main__input-default signup-main__input-default--has-error', placeholder: "例）青葉1-1-1", value: '' }
            - else
              = f.text_field :street, { class: 'signup-main__input-default', placeholder: "例）青葉1-1-1"}

          .signup-main__form-group
            = f.label :建物名 
            %span.signup-main__form-arbitrary 任意
            = f.text_field :street2, { class: 'signup-main__input-default', placeholder: '例) 栄ビル100' }
          .signup-main__form-group
            = f.submit '登録する', class: 'signup-main__btn-default signup-main__btn-red'
  = render "footer"