= render "items/main-header"
.header-under
  .box-under
    .gretel-link
      - breadcrumb :now
      = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"
.wrraper
  .mypage
    = render 'users/side-bar'
    .main-products
      .title-group
        .now-title
          = link_to "出品中", now_user_path(current_user.id), class: "now-field" ,id: "now-a"
        .trans-title
          = link_to "取引中", nowbuy_user_path(current_user.id), class: "trans-field" ,id: "now-b"
        .buy-end
          = link_to "売却済み",buyed_user_path(current_user.id), class: "buy-end-field" ,id: "now-c"
      .products-group
        - @item.last(10).each do |item|
          - unless item.buyer_id
            .groups
              .image
                = link_to items_path(item.id), class: "my-link" do
                  -# = image_tag item.images[0].image.url
              .info
                .title-field
                  = item.name.truncate(29)
                  .now-now
                    .now-text
                      出品中
              .icon-field
                = link_to item_path(item.id) do
                  %i.fa.fa-angle-right.right-icon
      .page
        = paginate(@item)
= render 'items/footer'