= render "items/main-header"
.header-under
  .box-under
    .gretel-link
      - breadcrumb :mypage
      = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"

.wrraper
  .mypage
    = render 'users/side-bar'
    = render 'users/main-contents'
= render 'items/main-footer'