= render "items/header"
.header-under
  .box-under
    .categoty-link
      = link_to "カテゴリ" ,"#", class:"link-btn",id: "hover-a"
      -# = render "products/category_list"
    .bland-link
      = link_to "ブランド" ,"#", class:"link-btn",id: "hover-b"
    .gretel-link
  -#     - breadcrumb :mypage
  -#     = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"
  -# = render "products/under"

.wrraper
  .mypage
    = render 'users/side-bar'
    = render 'users/main-contents'
= render 'items/footer'