= render "items/main-header"
.header-under
  .box-under
    .gretel-link
      - breadcrumb :sign
      = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"
.wrraper
  .mypage
    = render "side-bar"
    = render "log-out"
= render 'items/main-footer'
