%aside.app-banner
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        %figure
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2960600120", width: "68", alt: ""
        %ul.clearfix
          %li
            = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2960600120", width: "133", height: "40", alt: ""
          %li
            = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2960600120", height: "40", width: "133"
    %figure
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2960600120"
