%section.item--box__container.l-single-container.item--photo__expanded
  %h1.item--name
    = @item.name
  .item--main__content.clearfix
    .item--photo
      .owl--carousel.owl-loaded.owl-drag
        .owl--stage__outer
          .owl--stage{style: "left: 0px; width: 3600px;"}
            .owl--item.active{style: "width: 300px;"}
              .owl--item__inner
                = image_tag (@item.item_images.first.image.url), alt: @item.name, style: "opacity: 1;"
        .owl--nav.disabled
          .owl-prev prev
          .owl-next next
        .owl--dots
          - @item.item_images.each do |img|
            .owl--dot
              %span
              .owl-dot-inner
                = image_tag (img.image.url)
    %table.item--detail__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to mypages_path do
              = @item.user.nickname
            %div
              .item--user__ratings
                = fa_icon "smile"
                %span 302
              .item--user__ratings
                %i.fas.fa-grin
                %span 4
              .item--user__ratings
                %i.fas.fa-angry
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to items_path do
              = @item.upper_category.name
            = link_to items_path do
              = @item.middle_category.name
            = link_to items_path do
              = @item.lower_category.name
        %tr
          %th ブランド
          %td
            = link_to item_path do
              = @item.brand.name
        %tr
          %th 商品の状態
          %td
            = @item.status.name
        %tr
          %th 配送料の負担
          %td
            = @item.delivery_burden.name
        %tr
          %th 配送の方法
          %td
            = @item.delivery_method.name
        %tr
          %th 配送元地域
          %td
            = link_to items_path do
              = @item.prefecture_code
        %tr
          %th 発送日の目安
          %td
            = @item.delivery_date.name
  .item--price__box.text__center
    %span.item--price.bold
      = number_to_currency(@item.price, unit: "¥ ", precision:0, format: "%u%n")
    %span.item--tax (税込)
    %span.item--shipping__fee
      = @item.delivery_burden.name
  - if current_page?(item_path(@item))
    .text__center
      .sales--point__message P 600 をお持ちです
    = link_to "購入画面に進む", purchase_concern_item_path(@item), class: "item--buy__btn f18-24"
  .item--description.f14
    %p.item--description__inner
      = @item.content
  .item--button__container.clearfix
    .item--button__container__left
      = button_tag type: "button", name: "like!", class: "item--button item--button__like" do
        = fa_icon "like-border"
        %span いいね!
        %span.fade-in-down{"data-num": "like"} 18
      = link_to "", class: "item--button item--button__report clearfix" do
        = fa_icon "flag"
        %span 不適切な商品の報告
    .item--button__container__right
      = link_to "https://www.mercari.com/jp/safe/description/" do
        = fa_icon "lock"
        %span あんしん・あんぜんへの取り組み
- if current_page?(sell_item_item_path)
  .listing-item-change-box
    = link_to edit_item_path(@item), class: "btn-default btn-red" do
      商品の編集
    %p.text-center or
    = button_tag "出品を停止する", class: "btn-default btn-gray"
    = link_to item_path(@item),  method: :delete, class: "btn-default btn-gray" do
      この商品を削除する
.item--detail__message
  .message__container
    .message__content
      = form_with models: [@item, @comment], url: item_comments_path(@item), local: true, class: "message__form" do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :comment, class: "textarea--default"
        = f.button type: "submit", class: "message__submit btn-default btn-gray" do
          %span コメントする
    %aside.modal{"data-modal": "delete-comment", "data-close": "modal"}
      .modal-inner.modal-banner
        .modal-body
          .modal-head.bold 確認
          %div{"data-comment": "body"}
          %br
          本当にこのコメントを削除してもよろしいですか？
        %form{action: "https://www.mercari.com/jp/comment/delete/", method: "POST"}
          .clearfix
            .modal-btn.modal-btn-cancel{"data-close": "modal"} キャンセル
            = button_tag "削除する", type: "submit", class: "modal-btn modal-btn-submit"
- if current_page?(item_path(@item))
  %ul.nav__item--link--prev--next.clearfix
    %li.nav__item--link--prev
      = link_to "https://item.mercari.com/jp/m86295651374/" do
        = fa_icon "arrow-left"
        ビーズイソギンチャクリング シルバー
    %li.nav__item--link--next
      = link_to "https://item.mercari.com/jp/m11479828874/" do
        エドウィン EDWIN リングベルト ベルト オリーブ 111 本革 キャンパス
        = fa_icon "arrow-right"
  .item--social--media__box
    %ul.social--media__box
      %li
        = link_to "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm85355037099%2F", class: "share-btn" do
          = fa_icon "facebook"
      %li
        = link_to "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm85355037099%2F&text=Vivienne%20Westwood%20%20%E2%80%A6%20%28%C2%A5%204%2C000%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm85355037099%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", class: "share-btn" do
          = fa_icon "twitter"
      %li.social--hidden__item
        = link_to "http://line.me/R/msg/text/?Vivienne Westwood  キーケース%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m85355037099/" do
          = fa_icon "line"
      %li
        = link_to "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm85355037099%2F&media=https%3A%2F%2Fstatic-mercari-jp-imgtr2.akamaized.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm85355037099_1.jpg%3F1548499392&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20Vivienne%20Westwood%20%20%E3%82%AD%E3%83%BC%E3%82%B1%E3%83%BC%E3%82%B9%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", class: "share-btn" do
          = fa_icon "pinterest"
  .items--in--user__profile
    - if @items
      %section.items--box__container.clearfix.items--box__overflow
        %h2.items--box__head
          = link_to @items_path do
            = @item.user.nickname
            さんのその他の出品
        .items--box__content.clearfix
          = render partial: "shared/one_items", collection: @items, as: "item"
    - if @brand_items
      %section.items--box__container.clearfix.items--box__overflow
        %h2.items--box__head
          = link_to items_path do
            = @item.brand.name
            の
            = @item.name
            その他の商品
        .items--box__content.clearfix
          = render partial: "shared/one_items", collection: @brand_items, as: "item"
  %aside.modal{"data-modal": "report-item", "data-close": "modal"}
    .modal-inner.modal-banner
      .modal-body
        .modal-head.bold 確認
        不適切な商品を報告しますか?
      .clearfix
        .modal-btn.modal-btn-cancel{"data-close": "modal"} キャンセル
        = link_to "https://www.mercari.com/jp/report/m85355037099/" do
          = button_tag "はい", class: "modal-btn modal-btn-submit"
