%footer.global-footer
  %nav
    %ul
      %li.download-app
        = link_to "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=common.footer" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1528449478", width: "35px", alt: ""
          今すぐ無料ダウンロード！
      %li.footer-cell
        %h2.footer-cell__head メルカリについて
        %ul.footer-cell__body
          %li
            = link_to "会社概要（運営会社）", "https://about.mercari.com/"
          %li
            = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
          %li
            = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
          %li
            = link_to "メルカリ利用規約・有償ポイントに関する特約", "https://www.mercari.com/jp/tos_paid_point/"
          %li
            = link_to "あんしんスマホサポート制度に関する利用特約", "https://www.mercari.com/jp/tos_smartphone_support/"
          %li
            = link_to "コンプライアンスポリシー", "https://www.mercari.com/jp/compliance/"
          %li
            = link_to "個人データの安全管理に関わる基本方針", "https://www.mercari.com/jp/data_security/"
          %li
            = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
          %li
            = link_to "資金決済法に基づく表示", "https://www.mercari.com/jp/shikin_kessai/"
          %li
            = link_to "法令遵守と犯罪抑止のために", "https://about.mercari.com/csr/safety/"
          %li
            = link_to "採用情報", "https://www.mercari.com/jp/jobs/"
      %li.footer-cell
        %h2.footer-cell__head メルカリを見る
        %ul.footer-cell__body
          %li
            = link_to "カテゴリー一覧", "https://www.mercari.com/jp/category/"
          %li
            = link_to "ブランド一覧", "https://www.mercari.com/jp/brand/"
          %li
            = link_to "出品地域一覧", "https://www.mercari.com/jp/area/"
          %li
            = link_to "公式ブログ", "https://jp-news.mercari.com/", target: "_blank"
          %li
            = link_to "公式Twitter", "https://twitter.com/mercari_jp", target: "_blank"
          %li
            = link_to "公式Facebook", "https://www.facebook.com/mercarijp", target: "_blank"
      %li.footer-cell
        %h2.footer-cell__head ヘルプ＆ガイド
        %ul.footer-cell__body
          %li
            = link_to "メルカリガイド", "https://www.mercari.com/jp/help_center/"
          %li
            = link_to "メルカリロゴ利用ガイドライン", "https://www.mercari.com/jp/logo-guidelines/"
          %li
            = link_to "お知らせ", "https://about.mercari.com/press/news/"
          %li
            = link_to "らくらくメルカリ便とは", "https://www.mercari.com/jp/rakuraku-mercari/"
          %li
            = link_to "ゆうゆうメルカリ便とは", "https://www.mercari.com/jp/yuyu-mercari/"
          %li
            = link_to "大型らくらくメルカリ便", "https://www.mercari.com/jp/rakuraku-ogata/"
          %li
            = link_to "車体取引ガイド", "https://www.mercari.com/jp/guide/car/"
          %li
            = link_to "返品・返金ポリシー", "https://www.mercari.com/jp/refund-returns/"
          %li
            = link_to "メルカリあんしん・あんぜん宣言！", "https://www.mercari.com/jp/safe/description/", target: "_blank"
          %li
            = link_to "偽ブランド品撲滅への取り組み", "https://www.mercari.com/jp/authenticity/"
          %li
            = link_to "メルカリボックス", "https://www.mercari.com/jp/box/"
      %li.footer-cell
        %h2.footer-cell__head 国
        %ul.footer-nav-lang
          %li
            = link_to "https://www.mercari.com/" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?1528449478", width: "22", alt: ""
              United States
          %li
            = link_to "https://www.mercari.com/uk/" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?1528449478", width: "22", alt: ""
              United Kingdom
          %li
            = link_to "https://www.mercari.com/jp/", class: "active" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?1528449478", width: "22", alt: ""
              日本
  = link_to "https://www.mercari.com/jp/", class: "footer-logo" do
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1528449478", height: "33", width: "124", alt: "mercari"
  %p.footer-copyright
    %small © 2018 Mercari
