.header-log
  .log-field
    = link_to image_tag('logo.png', class: "icon-user-top"),root_path
.log
  .log-in
    .log-in-header
      .new-user-account
        アカウントをお持ちでない方はこちら
        .new-user-account-title
        .new-user-account-create
          - if devise_mapping.registerable? && controller_name != 'registrations'
            = link_to "新規会員登録", new_registration_path(resource_name),class:"new-user-account-btn"
    .log-in-main
      .facebook
        .facebook-field
          = link_to 'Facebookでログイン',class: "facebook-btn"
          %i.fab.fa-facebook-square.facebook-icon
      .google
        .google-font
          = link_to 'Googleでログイン',class: "google-btn"
          .google-photo
            -# = image_tag 'google.jpg', class:"google-photo-size"
    .log-in-bottom
      = form_for(resource, as: resource_name, html: { id: :login_form }, url: session_path(resource_name)) do |f|
        .email
          .email-group
            = f.email_field :email, autofocus: true, autocomplete: "email-field",placeholder: "メールアドレス",class: "email-field",id: "email"
        .pass
          .pass-group
            = f.password_field :password, autocomplete: "pass-field",placeholder: "パスワード",class: "pass-field",id: "pass"
        .send
          = f.submit "ログイン",class: "send-btn"
        .foget-pass
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "パスワードお忘れの方", new_password_path(resource_name),class: "foget-field"
        .error
          = render "devise/shared/error_messages", resource: @user