%aside.appBanner
  .inner
    %h2 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！
    .inner__icon
      = link_to root_path do
        = image_tag asset_path("download-on-the-app-store-apple.svg"),class: "abtn", alt: "download-on-the-app-store-apple.svg"
      = link_to root_path do
        = image_tag asset_path("google-play-download-android-app.svg"),class: "gbtn", alt: "google-play-download-android-app.svg"
.footer
  %ul.contents
    %li.content
      %h2.content__head FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）",root_path, class:"btn"
        %li
          = link_to "プライバシーポリシー",root_path, class:"btn"
        %li
          = link_to "FURIMA利用規約",root_path, class:"btn"
        %li
          = link_to "ポイントに関する特約",root_path, class:"btn"
    %li.content
      %h2.content__head FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧",root_path, class:"btn"
        %li
          = link_to "ブランド一覧",root_path, class:"btn"
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド",root_path, class:"btn"
        %li
          = link_to "FURIMAロゴ利用ガイドライン",root_path, class:"btn"
        %li
          = link_to "お知らせ",root_path, class:"btn"
  .footer__logo
    = link_to root_path do
      = image_tag asset_path("logo-white.png"), alt: "logo-white.png"
  %p © FURIMA

.seller-content
  - if user_signed_in?
    = link_to new_item_path do
      .exhibition-btn
        %span.exhibition-btn__text 出品する
        = image_tag "icon_camera.png", class: "exhibition-btn__icon"
  - else
    = link_to new_user_session_path do
      .exhibition-btn
        %span.exhibition-btn__text 出品する
        = image_tag "icon_camera.png", class: "exhibition-btn__icon"