%aside.appBanner
  .inner
    %h2 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！
    .inner__icon
      = link_to root_path do
        = image_tag asset_path("download-on-the-app-store-apple.svg"),class: "abtn", alt: "download-on-the-app-store-apple.svg"
      = link_to root_path do
        = image_tag asset_path("google-play-download-android-app.svg"),class: "gbtn", alt: "google-play-download-android-app.svg"
.footer
  %ul.contents
    %li.content
      %h2.content__head FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）"
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "FURIMA利用規約"
        %li
          = link_to "ポイントに関する特約"
    %li.content
      %h2.content__head FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧"
        %li
          = link_to "ブランド一覧"
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド"
        %li
          = link_to "FURIMAロゴ利用ガイドライン"
        %li
          = link_to "お知らせ"
  .footer__logo
    = link_to root_path do
      = image_tag asset_path("logo-white.png"), alt: "logo-white.png"
  %p © FURIMA
