.pcheader__inner
  .pcheader__inner__mainheader
    .pcheader__inner__mainheader__furimalogo
      = link_to root_path do
        = image_tag asset_path("logo.png"), alt: "FURIMA"
    .searchBox
      = search_form_for @q, url:search_items_path, class: "searchBox" do |form|
        = form.search_field :name_cont, placeholder: "キーワードから探す", class: "#searchInput.searchBox--input" 
        .searchBox__icon
          = button_tag type: 'submit', class: 'search-btn' do
            = image_tag asset_path("icon-search 1.png"), alt: "icon-search 1.png エラー" 
  .nav
    %ul.nav__listsleft
      %li
        = link_to "カテゴリー"
      %li.listsleft__item
        = link_to "ブランド"
    - if user_signed_in?
      %ul.nav__listsright
        %li.listsRight__item
          = link_to "マイページ", user_path(current_user.id)
    - else
      %ul.nav__listsright
        %li.listsRight__item
          = link_to "ログイン",new_user_session_path
        %li.listsRight__item
          = link_to "新規会員登録",new_user_registration_path