-# 商品購入確認画面
.purchase-verification
  = render "header"
  .purchase-verification__main
    .purchase-verification__main__up
    -#   購入内容の確認
    -# .purchase-verification__main__box
    -#   .product 
    -#     .photo
    -#       = image_tag @item.images[0].src.url, size: '200x200'
    -#     .name
    -#       = "商品名 #{@item.name}"
    -#   %ul.detail
    -#     %li.money="送料込み ¥#{@item.price}"
    -# .purchase-verification__main__pay
    -#   .purchase-verification__main__pay__point
    -#     ポイントはありません
    -#   .purchase-verification__main__pay__money
    -#     .purchase-verification__main__pay__money--left
    -#       支払金額
    -#     .purchase-verification__main__pay__money--right
    -#       =" ¥#{@item.price}"
    -#   .purchase-verification__main__pay__decision
    -#     - if @default_card_information.blank?
    -#       .buy-btn 
    -#         支払い方法を追加してください。
    -#     - else
    -#       = form_tag(action: :pay, method: :post) do
    -#         %button.buy-btn 購入する
    .purchase-verification__main__delivery
      .address
        %ul.address--delivery
          配送先
        %li=@item.user.address.postal_code
        %li="#{current_user.address.prefecture_code} #{current_user.address.city_name} #{current_user.address.street}#{current_user.address.street2}"
        %li="購入者 #{current_user.first_name} #{current_user.last_name} " 
        .address--change
          = link_to address_user_path(current_user.id), class:"address--change--btn" do
            変更する
    .purchase-verification__main__payment
      .method
        %ul.method--number
          支払方法
        - if @default_card_information.blank?
          .method--change
            = link_to "クレジットカードを登録する",confirmation_card_path(current_user.id),class: "method--change--btn"
        - else
          %li
            = "**** **** **** " + @default_card_information.last4
          %li
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          .method--change
            = link_to confirmation_card_path(current_user.id), class:"method--change--btn" do
              変更する
  = render "footer"